<nav class="container-nav">
    <a class="flex-item"href="/">Home</a>
    <a class="flex-item"href="/auth/signup">Signup</a>
    <a class="flex-item"href="/auth/logout">Logout</a>
  </nav>
 
<div class="contain-center">
  <h2 class="flex-item-users">Login</h2>

<form action="/auth/login" method="POST" id="form-container">
  <label class="flex-item-users" for="username">Username</label>
   <input class="flex-item-users" id="username" type="text" name="username" placeholder="JonSnow">

   <br><br>

   <label class="flex-item-users" for="password">Password</label>
  <input class="flex-item-users" id="password" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
    <div class="error-message flex-item-users">{{ message }}</div>
  {{/if}}

  <br><br>

  <button class="flex-item-users">Login</button>

  <p class="flex-item-users" class="account-message">
    Don't have an account yet?
    <a class="flex-item-users" href="/auth/signup">Signup</a>
  </p>
 </form>
</div> 