<link rel="stylesheet" href="/stylesheets/style.css" />
<script src='./javascripts/rotation-canvas.js'></script>
  <nav class="container-nav">
    <a class="flex-item"href="/">Home</a>
    <a class="flex-item"href="/auth/signup">Signup</a>
    <a class="flex-item"href="/auth/logout">Logout</a>
  </nav>
<nav class="container">
<a class="flex-item" href="/profile">Profile</a>
<a class="flex-item" href="/users-list">Users</a>
<a class="flex-item" href="/xperience-list">Xperience</a>
<a class="flex-item" href="/auth/login">Login</a>
</nav>
<h1>noise-reality</h1>
<form class="contain-center" action="/xperience" method="GET">
  <input class="flex-item-users" type="text" name="xperienceName" placeholder="Xperience Name">
  <button class="flex-item-users">NEW</button>
</form>

<canvas id="canvas"></canvas>
