<link rel="stylesheet" href="/stylesheets/style.css" />
<script src='./javascripts/rotation-canvas.js'></script>
<nav class="container">
<a class="flex-item" href="/profile">Profile</a>
<a class="flex-item" href="/users-list">Users</a>
<a class="flex-item" href="/xperience-list">Xperience</a>
<a class="flex-item" href="/auth/login">Login</a>
</nav>
<h1>noise-reality</h1>

<canvas id="canvas"></canvas>
