<link rel="stylesheet" href="/stylesheets/style.css" />
<script src='./javascripts/rotation-canvas.js'></script>

<a href="/profile">Profile</a>
<a href="/users-list">Users</a>
<a href="/xperience-list">Xperience</a>
<a href="/auth/login">Login</a>
<h1>Noise-reality</h1>

<canvas id="canvas"></canvas>
