<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <style>@import url('https://fonts.googleapis.com/css?family=Roboto');</style>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/tone/13.7.3/Tone.js'></script>
</head>
<body>

<<<<<<< HEAD
=======

>>>>>>> 58689988595f7bb0f2be944a301e7eb632f4a6c3
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>