<h1>Profile</h1>
<h2>{{user.username}}</h2>
{{#if editable}}
<form  method='POST' action='/profile'>
  <h3>Update profile</h3>
  <input type="text" name="username" value="{{user.username}}" placeholder="User">
  <input type="password" name="password" placeholder="Password">
  <button id="update-user">Edit</button>

  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  {{/if}}
</form>

