<nav class="container-nav">
    <a class="flex-item"href="/">Home</a>
    <a class="flex-item"href="/auth/signup">Signup</a>
    <a class="flex-item"href="/auth/logout">Logout</a>
  </nav>

<h1>Xperience List</h1>
<div class="container-users">
{{#each xperience}}
<ul>
  <li class="flex-item-users" >{{this.name}}
    <a class="flex-item-users" href="/xperience/{{this.id}} ">xperience</a>
    </li>
</ul>
{{/each}}
</div>