html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #F7F7F7;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 20px;}

a {
  /*font-family: monospace;*/
  color: #A2238D;
  align-items: flex-start;
  text-decoration: none;
}

h1 {
  font-size: 60px;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

h2 {
  padding-bottom: 25px;
  padding-top: 15px;
}

h3 {
  color: #A2238D;
  font-size: 35px;
}

.container-nav {
  display: flex;
  justify-content: center;
  background-color: #333;
  overflow: hidden;
}

.container-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.container-nav a:hover {
  background-color: #F16522;
  color: black;
}

.container-nav a.active {
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  background-color: #333;
  overflow: hidden;
}

.container a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.container a:hover {
  background-color: #F16522;
  color: black;
}

.container a.active {
  color: white;
}

.container-users ul {
  padding: 0px;
  margin-top:10px;
  margin-bottom: 10px;
  margin-left: 80px;
  margin-right: 80px;
  
}

.container-users {
  overflow: hidden;
  display: inline;
  justify-content: center;
}

.container-users li {
  font-size: 25px;
}

.container-signup {
  overflow: hidden;
  display: inline;
  justify-content: center;
}

.flex-item {
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.flex-item-xperiences {
  list-style-type: none;
  font-family: monospace;
  text-align: left;
  padding-left: 0px;
  margin-top: 5px;
  margin-left: 5px;
}

.flex-item-users {
  list-style-type: none;
  font-family: monospace;
  margin: 5px;
}

.contain-center {
  display: grid;
  justify-content: center;
}

.contain-center h1 {
  font-size: 40px;
  margin: 0;
} 
